<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.genmodel"
            id="org.eclipselabs.emfpath.gen.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipselabs.emfpath.menu" label="EMFPath" path="additionsEMFPath">
               <groupMarker name="emfpath"/> 
         </menu>
         <action
               class="org.eclipselabs.emfpath.gen.ui.popupMenus.GenerateEMFPathAction"
               enablesFor="+"
               id="org.eclipselabs.emfpath.gen.ui.popupMenus.generateEMFPathAction"
               icon="icons/default.gif"
               label="Generate"
               menubarPath="org.eclipselabs.emfpath.menu/emfpath"/>
      </objectContribution>
   </extension>
</plugin>
